.loginPage {
  &_contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &_title {
      display: block;
      &--black{
        font-size: 50px;
        padding: 20px;
        font-weight: bold;
      }
      &--red{
        font-size: 100px;
        color:#fd5068;
        font-weight: bold;
        font-style: italic;
        background: -webkit-linear-gradient(top, #fd5068 0%, #fd5068 50%, #FF7C00 51%, #e5e491 100%);
                     -webkit-background-clip: text;
                     -webkit-text-fill-color: transparent;
      }
    }
    &_btn {
      display: block;
      max-width: 400px;
      max-height: 100px;
      padding: 20px;
      margin: 0 auto;
      margin-bottom: 0px;
      border-radius: 30px;
      background: linear-gradient(#fd5068, #e5e491);
      color: #fff;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.video-container {
  height: 100vh;
  position: relative;
}

.container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 10%;
  height:111%;
  background-color: rgba(255, 255, 255, 0.85); 
}

.btn {
  text-decoration: none;
}

video {
  width: 100%;
  
  
}

p {
  font-family: serif;          
  color: #fff;
  font-size: 400%;
  position: absolute;
  left: 30%;
  top: 200px;
  z-index: 1;
}