.userName{
  padding-left: 10px;
  padding-right: 10px;
  background: gray;
}
.userIntroduction{
  width: 100%;
  padding: 10px 10px 20px 10px;
  font-size: 20px;
  white-space: nowrap;    
  overflow: hidden;  
  text-overflow: ellipsis;  
  -webkit-text-overflow: ellipsis;  
  -o-text-overflow: ellipsis;  
  // text-align: left;
  // padding: 3%;
}