body{
  display: block;
  .header{
    position: relative;
    height: 7rem;
    width: 100%;
    background: linear-gradient(#6cd1ac, #f6f9fa);
  }
  .titles{
    position: absolute;
    top: 20%;
    left: 40%;
    display: block;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
  }
  .sinupPage{
    display: flex;
    .form_container{
      background-color: rgba(255, 255, 255, 0.7);
      text-align: center;
      width: 70%;
      height: 100%;
      
      .form-group{
        width: 80%;
        margin-left: 10%;
        .name-form{
          border: solid 3px #6cd1ac;
        }
        .email-form{
          border: solid 3px #6cd1ac;
        }
        .password-form{
          border: solid 3px #6cd1ac;
        }
        .radio_text{
          margin-top: 3%;
          font-size: 18px;
          color: #b20000;
        }
        .form-check-label{
          display: block; /* ブロックレベル要素化する */
          float: left; /* 要素の左寄せ・回り込を指定する */
          margin: 10px; /* ボックス外側の余白を指定する */
          width: 150px; /* ボックスの横幅を指定する */
          height: 60px; /* ボックスの高さを指定する */
          padding-left: 7px; /* ボックス内左側の余白を指定する */
          padding-right: px; /* ボックス内御右側の余白を指定する */
          color: #b20000; /* フォントの色を指定 */
          font-size: 25px;
          text-align: center; /* テキストのセンタリングを指定する */
          line-height: 45px; /* 行の高さを指定する */
          cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
          border: 5px solid #6cd1ac;/* ボックスの境界線を実線で指定する */
          border-radius: 5px; /* 角丸を指定する */
        }
        .text-form{
          margin-top: 5%;
          border: solid 3px #6cd1ac;
        }
        .btn-submitBtn{
          background-color: pink;
        }
      } 
    .user_icon{
      font-size: 4em;
    }
    }
    .tech-up_description{
      width: 30%;
      background-color: rgb(255, 255, 255);
      padding-right: 5%;
      padding-top: 5%;
      .text-area{
        text-align: left;
      }
    }
  }
  
  .fotter_container{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(#f6f9fa, #6cd1ac);
    .tech-up_logo{
      position: absolute;
      top: 10%;
      left: 45%;
    }
  }
}
