body{
  display: block;
  .header{
    position: relative;
    height: 7rem;
    width: 100%;
    background: linear-gradient(#6cd1ac, #f6f9fa);
  }
  .titles{
    position: absolute;
    top: 20%;
    left: 40%;
    display: block;
    font-size: 35px;
    font-style: italic;
  }
  .sinupPage{
    display: flex;
    .form_container{
      background-color: rgba(255, 255, 255, 0.7);
      text-align: center;
      width: 70%;
      height: 100%;
      
      .form-group{
        width: 80%;
        margin-left: 10%;
        .name-form{
          border: solid 3px #6cd1ac;
        }
        .email-form{
          border: solid 3px #6cd1ac;
        }
        .password-form{
          border: solid 3px #6cd1ac;
        }
        .text-form{
          border: solid 3px #6cd1ac;
        }
      } 
    .user_icon{
      font-size: 4em;
    }
    }

    .tech-up_description{
      width: 30%;
      background-color: rgb(255, 255, 255);
      padding-right: 5%;
      padding-top: 5%;
      .tech-up_logo{
        margin-left: 20%;
        margin-right: 20%;
      }
    }
  }
  
  .fotter_container{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(#f6f9fa, #6cd1ac);
    .tech-up_logo{
      position: absolute;
      top: 10%;
      left: 45%;
    }
  }
}
